.img1 img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    height: 100%;
}
.bl {
    font-size: 16pt;
    color: red;
    display: inline-block;
    margin-right: 30px;
    font-style: normal;
    font-weight: bold;
}
.navbar{
    text-align: center;
}
.Rep {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;

}
.fot {
    text-align: center;
}
.butt {
    background-color: #FF0000;
    text-align: center;
    width: 133px;
    color: white;
    height: 45px;
    display: inline-block;
    margin: 42px -3px 0px 0px;
}

.c {
    text-align: center;
}
.cop {
    text-align: right;
    margin: 67px 162px;
}
