 html {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 51px;
    height: 100%;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
    overflow: hidden;
}

.speach {
    position: absolute;
    -webkit-animation: scroll 30s linear 1s infinite;

}

@-webkit-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
