body {
    margin: 0;
    display: block;
    border: 31px solid #3A4965;
}
table.one {
    border-bottom: 12px solid #3A4965;
    width: 100%;
}
td.wer {
    padding: 42px 0px 0px 0px;
    text-align: center;
    width: 174px;
    height: 80px;
}
.wer {
    font-size: 24px;
    line-height: 28px;
}
tr.first {
    width: 71px;
    height: 43px;
    font-size: 17px;
    /* display: flow-root; */
}
td.gool {
    margin: 0px 0px 0px 47px;
    text-align: center;
}

.gool {
    width: 201px;
    height: 115px;
}
.choos {
    height: 28px;
    font-family: Arimo;
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin: 36px 0px 0px 53px;
}
p.princp {
    margin: 0px 0px 0px 35px;
    font-family: Arimo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
td.wer {
    padding: 17px 0px 0px 0px;
    text-align: center;
    width: 201px;
}
table.two {
    width: 100%;
}
td.gray {
    background-color: #E3E3E3;
    padding: 17px 0px 0px 0px;
    text-align: center;
    width: 201px;
}
.buy1 {
    width: 163px;
    height: 199px;
    background-color: #89C331;
}
td.noc {
    width: 160px;
    height: 169px;
    text-align: center;
}
.noc {
    font-size: 20px;
    line-height: 24px;
}
td.nocg {
    width: 160px;
    height: 169px;
    text-align: center;
}
.nocg {
    font-size: 20px;
    line-height: 24px;
    background-color: #E3E3E3;
}
.buy2 {
    width: 163px;
    height: 199px;
    background-color:#F04A56;
}
.buy3 {
     width: 163px;
     height: 199px;
    background-color: #20807C;
 }
table.two {
    border-spacing: 1px;
}
h2 {
    position: absolute;
    margin: -74px 0px 0px 34px;
    color: white;
}
span.per {
    padding: 0px 0px 0px 21px;
    font-size: 17px;
    line-height: 0px;
    font-weight: bold;
    color: white;
}
p.procent {
    position: absolute;
    margin: -45px 0px 0px 47px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.sevent {
    text-align: center;
    font-size: 34px;
    margin: -34px 9px 0px 0px;
    font-weight: bold;
    color: white;
}
a.buynow {
    text-decoration: none;
    position: absolute;
    margin: 38px 0px 0px 25px;
    background-color: #414141;
    padding: 9px 36px 9px 36px;
    color: white;
    font-size: 16px;
    line-height: 28px;
}
a.buynow:hover {
    border: 1px solid gray;
}