
nav a {
    text-decoration: none;
    color: white;
    display:inline-block;
    padding:10px;
    z-index: 1;
}
.navigation {
    display: flex;
    background-color: #313131;
    justify-content: space-between;
}
.search {
    background-color: black;
    padding: 21px;
    z-index: 1;
}
.log {
    padding: 16px;
}
.navigation1 {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    margin: -8px -8px 0px -8px;
    align-items: center;
}
a.architest {
    display: flex;
    position: absolute;
    left: 45px;
    top: 1px;
    font-size: 21px;
    align-items: center;
}
.header-up {
    background-image: url("../img-down/img-up/header-bg-img 1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.inside-img {
    display: flex;
    height: 296px;
}
a.word-secret2 {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 127px 0px 0px 24px;
    color: white;
    padding: -4px 0px 2px -3px;
    background-color: #14B9D5;
    width: 96px;
    height: 0px;
    padding: 28px;
}
p.long-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: -156px 0px 0px 437px;
    font-size: 27px;
    line-height: 37px;
}
a.word-secret {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 126px 0px 0px -491px;
    color: white;
    padding: -4px 0px 2px -3px;
    background-color: #89CA62;
    width: 99px;
    height: 0px;
    padding: 28px;
}
.popular_post {
    color: #18B4CF;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
}
.two_imag_one {
    display: flex;
    margin: -80px 0px -2px 36px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.two_imag_two {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    flex-direction: column;

}
.two_imag_three {
    margin: 28px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.images {
    display: flex;
    justify-content: center;
}
.img {
    width: 269px;
    padding: 0px 12px 86px 10px;
}
.img1 {
    align-items: flex-start;
    width: 269px;
    padding: 0px 12px 86px 10px;

}
p.sub_und_one {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    position: absolute;
    margin: -68px 1px 0px 47px;
}
p.sub_und_two {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    position: absolute;
    margin: 206px 0px 0px 48px;
}
p.sub_und_three {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    margin: -19px 0px 0px 72px;
    position: absolute;
}
p.sub_und_four {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    margin: 248px 0px 0px 72px;
    position: absolute;
}
p.sub_und_six {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    margin: 287px 0px 0px 67px;
    position: absolute;
}
p.sub_und_five {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    margin: -100px 0px 0px 67px;
    position: absolute;
}
.footer-img {
    background-image: url("../img-down/price.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 400px;
}
p.clinet {
    display: flex;
    justify-content: center;
    padding: 80px;
    font-size: 32px;
    line-height: 44px;
    color: white;
}
hr {
    width: 38px;
    color: #18b4cf;
    border: 2px solid;
    margin: -31px 0px 0px 692px;
}
.logo-layer {
    display: grid;
    justify-content: center;
    padding: 40px;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-gap: 7vw;
    font-size: 3vw;
}
.top-rated {
    color: #18B4CF;
    display: grid;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding: 72px;
}

.imgages {
    height: 190px;
    display: grid;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr 0fr;
}
.imah {
    width: 194px;
}
.newss {
    color: #18B4CF;
    display: grid;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding: 72px;
}

.news-two {
    display: grid;
    margin: 0px 0px 0px 277px;
}
.news-all {
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 0fr;
    grid-gap: 0vw 4vw;
    font-size: 5vw;

}
.text-one {
    position: absolute;
    width: 251px;
    font-size: 15px;
    margin: -218px 0px 0px 531px;
}
.text-one1 {
    position: absolute;
    width: 251px;
    font-size: 15px;
    margin: -252px 0px 0px 531px;
}
.news-five {
    padding: 131px 0px 0px 0px;
}
.news-six {
    padding: 131px 0px 0px 0px;
}
.news-seven {
    padding: 131px 0px 0px 0px;
}
.news-eight {
    padding: 131px 0px 0px 0px;
}
.text-two {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: 6px 0px 0px 48px;
}
.text-two1 {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: -14px 0px 0px 150px;
}
.text-three {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: 6px 0px 0px 48px;
}
.text-three1 {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: -14px 0px 0px 150px;
}
.text-four {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: 6px 0px 0px 48px;
}
.text-four1 {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: -14px 0px 0px 150px;
}
.text-five {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: 6px 0px 0px 48px;
}
.text-five1 {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: -14px 0px 0px 150px;
}
.news-eight {
    padding: 131px 3px 0px;
    margin: 0px 0px 0px -278px;
}
.text-six {
    font-size: 15px;
    margin: -6px 0px 0px 70px;
}
.text-seven {
    position: absolute;
    width: 372px;
    font-size: 15px;
    margin: -174px 0px -1px 499px;
}
.text-seven1 {
    position: absolute;
    width: 444px;
    font-size: 15px;
    margin: -208px 0px -1px 499px;
}

.fianl {
    background-image: url(../img-down/final/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-evenly;
}

.login {
    display: flex;
    flex-basis: auto;
    padding: 9px 0px 0px 0px;
}
.riaght {
    color: white;
    padding: 9px 0px 0px 0px;
    font-size: 11px;
}
p.liot {
    display: flex;
    position: absolute;
    margin: -42px 0px 0px;
    right: 302px;
    color: white;
}
