.centered-content {
    height: 50vh;
    display: flex;

    justify-content: center;
    align-items: center;
}
.tabs {
    display: flex;
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
text-decoration: none;

}
a:focus {
    background-color:#937341 ;
    color: #23201D;
}
p.taxtino {
    display: flex;
    position: absolute;
    left: 10px;
    top: 280px;
}
p.taxtino2 {
    display: flex;
    position: absolute;
    left: 10px;
    top: 340px;
}
p.taxtino3 {
    display: flex;
    position: absolute;
    left: 10px;
    top: 400px;
}
p.taxtino4 {
    display: flex;
    position: absolute;
    left: 10px;
    top: 460px;
}
p.taxtino5 {
    display: flex;
    position: absolute;
    left: 10px;
    top: 520px;
}