.rise {
    background-image: url("../img/back.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.social {
    background-image: url(../img/Background.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 444px;
    height: 584px;
    margin: 58px;
}
.jor {
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #DBDBDB;
    margin: 30px 0px 0px 109px;
    height: auto;
    width: max-content;
}
.jor:hover {
    color: #3CB878;
}

element.style {
}
.wel {
    margin: -18px 0px 0px 1136px;
    color: #DBDBDB;
}
.wel a {
    color: #3CB878;
    padding: 0px 10px 8px 4px;
}
.soc {
    display: flex;
    position: absolute;
    margin: -24px 13px 9px 959px;
}
img {
    border-style: none;
    padding: 0px 29px 0px 0px;
}
.flat {
    border: 1px solid #2d2222;
    padding: 0px 86px 21px 14px;
    background-color: black;
    opacity: 0.5;
}
.soc1:hover {
    content: url("../img/ic_caledar green.png");
}
.soc2:hover {
    content: url("../img/ic_forumgreen.png");
}
.soc3:hover {
    content: url("../img/ic_journeygreeb.png");
}
.sigh {
    display: inline-block;
    padding: 0px 0px 0px 278px;
    color: #3CB878;
}
.sigh {
    display: inline-block;
    padding: 0px 0px 0px 278px;
    color: #3CB878;
    font-size: 14px;
}
.img2 {
    position: absolute;
    display: inline-block;
    margin: 16px 22px 0px -222px;
}

.img3 {
    display: inline-block;
    margin: 0px 0px 14px 30px;
}
.facebook {
    display: inline-block;
    margin: 9px 17px 15px -388px;
    position: absolute;
    border-right: 1px solid black;
    padding: 0px 13px 0px 0px;
    font-size: 25px;
    color: white;
}
.g {
    display: inline-block;
    margin: 10px 17px 15px -176px;
    position: absolute;
    border-right: 1px solid black;
    padding: 0px 7px 0px 0px;
    font-size: 25px;
    color: white;
}
.face {
    display: inline-block;
    margin: 13px 17px 15px -350px;
    position: absolute;
    font-size: 20px;
    color: white;
}
.google {
    display: inline-block;
    margin: 13px 17px 15px -120px;
    position: absolute;
    font-size: 20px;
    color: white;
}
.jason {
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px -2px;
    padding: 12px 319px 12px 23px;
    font-size: 19px;
    line-height: 21px;
    color: grey;
}
.jason:hover {
    color: black;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

}
.last {
    font-size: 19px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    margin: 10px 0px 0px -2px;
    padding: 12px 280px 12px 23px;
    border: 1px solid #F2F2F2;
    color: gray;
}
.last:hover {
    color: black;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.email {
    font-size: 19px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    margin: 10px 0px 0px -2px;
    padding: 11px 317px 12px 23px;
    border: 1px solid #F2F2F2;
    color: gray;
}
.email:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: black;
}
.pass {
    font-size: 19px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    margin: 10px 0px 0px -2px;
    padding: 11px 231px 12px 23px;
    border: 1px solid #F2F2F2;
    color: gray;
}
.pass:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: black;
}
.conf {
    font-size: 19px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    margin: 10px 0px 0px -2px;
    padding: 11px 231px 12px 23px;
    border: 1px solid #F2F2F2;
    color: gray;
}
.conf:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: black;
}
.vector {
    width: auto;
    position: absolute;
}
.term {
    color: #3CB878;
}
p.agree {
    display: inline-block;
    margin: 21px 0px 0px -124px;
}
.vector {
    width: auto;
    position: absolute;
    margin: 75px 0px 0px -384px;
}
.creat {
    padding: 9px 140px 12px 159px;
    background-color: #3CB878;
    border: 1px solid #3CB878;
    display: inline-block;
    position: absolute;
    margin: 73px 0px 0px -243px;
    color: white;
}
input.check {
    position: absolute;
    margin: 0px -29px;
}