.back {
    background-image: url("./img/background 1.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.tyo{
    margin:0 auto;
}
.tyo img {
    position: absolute;
    left: 166px;
    top: 90px;
    display: inline-block;
    margin: 28px 0px 0px 0px;
}
.tyo img.first {
    opacity:0;
    filter: alpha(opacity=0) ;
}

.tyo:hover img.first {
    opacity:1;
    filter:alpha(opacity=100);
}

.tyo:hover img.second, .tyo img.first:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}
.verh:hover img.second, .numb:hover {
    color: #F26522;
}
.data {
    position: absolute;
    text-align: right;
    display: inline-block;
    color: #ffffff;
    margin: -88px 20px 0px 363px;
}
.box-crew {
    position: relative;
    overflow: hidden;
    display: inline-table;
    text-align: center;
    margin: 0px 38px -4px 44px;
}

.box-crew p.as:hover {
    opacity: 1;
    bottom: 20px;
}

.box-crew p.as {
    background-color: #F26522;
    transition-duration: 0.6s;
    position: absolute;
    color: #fff;
    display: block;
    width: 100%;
    opacity: 0;
    bottom: 20px;
    margin: 130px 0px 34px 0px;
    text-align: left;
    padding: 14px 0px 2px 24px;
    font-size: small;
}


div.box-crew:hover p.as{
    top:0;
}
.box {
    text-align: center;
}
.und {
    color: #ffffff;
}
.yop:link {
    color: #0000d0;
}
.box-crew {
    color: #F26522;
}
.cop {
    text-align: center;
    color: white;
}

.numb {
    width: 93px;
    height: 14px;
    display: inline-block;
    margin: 0px -145px 0px 0px;
    text-align: left;
    color: #DBDBDB;
}

.verh {
    width: 25%;
    margin: 98px 0px 20px 20px;
}
.brud::after {
    content: "";
    background-image: url("./img/Vector 1.png");
    width: 7px;
    height: 12px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    margin: 3px 0px 25px 35px;
}
.as::after {
    background-image: url("./img/€50.png");
    position: absolute;
    width: 33px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    content: "";
    display: flex;
    margin: 12px 0px 0px 0px;
}
.box-crew:hover .und{
    color: #F26522;
}
.box-crew:hover .as{
    opacity: 1;

}
.brud {
    position: relative;
    float: right;
    display: inline-block;
    margin: 27px 86px 0px 0px;
    font-size: 15px;
}
.as {
    position: relative;

}
.tyo:hover .numb {
    color: #F26522;
}