.body {
    width: 1280px;
}

.md {
    color: aqua;
    position: absolute;
}
.ra {
    font-size: 51px;
    margin: 44px 224px;
}
.navi {
    text-align: center;
    background-color: brown;
    background-color:  #35444F;
}
.navi {
    background-color: #35444F;
    font-size: 38px;
    width: 76%;
    margin: 57px 220px;
}
.ful {
    color: azure;
    font-size: 24px;
    padding: 12px 25px 3px 26px;
}
.ful:hover {
    background: #222F3A;
    border: 1px solid;
}
.fu {
    color: azure;
    font-size: 24px;
    padding: 12px 25px 3px 26px;
}
.fu:hover {
    background: #222F3A;
    border: 1px solid;
}
.oven {
    display: inline-block;
}
.blo {
    border-top-color: black;
    font-size: 22px;
    margin-top: -19px;
    /* margin-right: 0px; */
    color: black;
    box-shadow: 0px 0px 8px 0px;
     width: 225px;
    padding-top: 19px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
    display: inline-block;
    margin: -13px 0px 0px 215px;
}
.gy2:hover {
    background: #DBDBDB;
}
.gy2 {
    color: #222F3A;
    display: inline-block;
    padding: 13px 72px 8px 32px;
}
.gy1 {
    color: #222F3A;
    padding: 12px 152px 10px 10px;
}
.gy1:hover {
    background: #DBDBDB;
}
.gy3:hover {
    background: #DBDBDB;
}
.gy3 {
    color: #222F3A;
    display: inline-block;
    padding: 11px 40px 8px 29px;
}
.gy4:hover {
    background: #DBDBDB;
}
.gy4 {
    color: #222F3A;
    display: inline-block;
    padding: 11px 79px 8px 29px;
}
.gy5:hover {
    background: #DBDBDB;
}
.gy5 {
    color: #222F3A;
    display: inline-block;
    padding: 11px 97px 8px 29px;
}
.ov {
    display: inline-block;
    margin-top: -371px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 478px;
    padding: 123px 232px 95px 274px;
    width: 202px;
    border: 2px solid;
}
.fin {
    margin: 22px 87px 0px 478px;
}
.fin1 {
    width: 55%;
    margin: 14px 0px 0px 476px;
}
.navi1 {
    text-align: center;
    background: rgba(99, 105, 110, 0.48);
    font-size: 38px;
    width: 76%;
    margin: 57px 220px;
}
.ful1 {
    color: azure;
    font-size: 20px;
    color: black;
}
.fu1 {
    color: black;
    font-size: 20px;
    margin: 0px 1px 0px 2px;
}
.fu1:hover {
    color: #FF0000;
}
.ful1:hover {
    color: #FF0000;
}
.cop {
    font-size: 17px;
    text-align: right;
    margin: -25px 33px 1px 0px;
    padding: 0px 7px 11px 0px;
}