.social-net {
    background-image: url("./background/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 5px;
    height: 723px;
}
.navigation-bar {
    color: white;
}
.navigation-bar:hover{
    color: sandybrown;

}
.header {
    padding: 5px;
    background: rgba(94, 93, 88, 0.6);
}
.theham {
    position: absolute;
}
.navigation-bar {
    padding: 8px;
    color: white;
}
.logo-poly {
    position: absolute;
    left: 237px;
}
.holy {
    position: absolute;
    left: 251px;
    z-index: 1;
    font-size: 40px;
    top: -15px;
    color: #FFFFFF;
}
.theham {
    position: absolute;
    left: 299px;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    margin: -4px -5px 0px -5px;
    padding: 5px;
    background: rgba(94, 93, 88, 0.6);
}
.navigation-bar-one {
    margin: 23px 20px 0px 0px;
    color: rgba(255, 255, 255, 0.6);
    border-bottom-width: 2px;
    font-size: 14px;
    border-bottom-color: white;
}

.navigation-bar-one:hover {
    margin: 23px 20px 0px 0px;
    color: #18CFAB;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-size: 14px;
    border-bottom-color: #18CFAB;
}
.navigation-bar-two {
    color: rgba(255, 255, 255, 0.6);
    border-bottom-width: 2px;
    margin: 23px 192px 0px 0px;
    font-size: 14px;
}
.navigation-bar-two:hover {
    color: #18CFAB;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin: 23px 192px 0px 0px;
    font-size: 14px;
    border-bottom-color: #18CFAB;
}

.navigation-bar-three {
    color: rgba(255, 255, 255, 0.6);
    border-bottom-width: 2px;
    font-size: 14px;
    border-bottom-color: white;
    margin: 23px 258px 0px -176px;
}
.navigation-bar-three:hover {
    margin: 23px 258px 0px -176px;
    color: #18CFAB;
    border-bottom-width: 2px;
    font-size: 14px;
    border-bottom-color:#18CFAB;
    border-bottom-style: solid;
}
.navigation-bar-four {
    margin: 23px 355px 0px -239px;
    color: rgba(255, 255, 255, 0.6);
    border-bottom-width: 2px;
    font-size: 14px;
    border-bottom-color: white;
}
.navigation-bar-four:hover {
    margin: 23px 355px 0px -239px;
    color: #18CFAB;
    border-bottom-width: 2px;
    font-size: 14px;
    border-bottom-color: #18CFAB;
    border-bottom-style: solid;
}

.navigation-bar-five {
    margin: 23px 316px 0px -339px;
    color: rgba(255, 255, 255, 0.6);
    border-bottom-width: 2px;
    font-size: 14px;
    border-bottom-color: white;
}
.navigation-bar-five:hover {
    margin: 23px 316px 0px -339px;
    color: #18CFAB;
    border-bottom-width: 2px;
    font-size: 14px;
    border-bottom-style: solid;
    border-bottom-color: #18CFAB;
}
.navigation-bar-six {
    margin: 22px 301px 3px -302px;
    color: rgba(255, 255, 255, 0.6);
    border-bottom-width: 2px;
    font-size: 15px;
    border-bottom-color: white;
    width: 101px;
    height: 45px;
}

.navigation-bar-six:hover {
    font-size: 21px;
    margin: 22px 301px 3px -302px;
    color: #18CFAB;
    border-bottom-width: 2px;
    font-size: 15px;
    border-bottom-color: #18CFAB;
    width: 101px;
    height: 43px;
    border-bottom-style: solid;

}
.zoom {
    position: absolute;
    font-size: 14px;
    right: 280px;
    top: 29px;
    width: 14px;
}

.the {
    position: absolute;
    left: 299px;
    color: #FFFFFF;
}

.ham {
    position: absolute;
    left: 332px;
    color: #18CFAB;
}
.the-one {
    left: 299px;
    color: #FFFFFF;
    position: absolute;
    margin: 225px 0px 0px 243px;
}
.ham-two {
    left: 332px;
    color: #18CFAB;
    margin: 225px 0px 23px 187px;
}
.creat-word {
    margin: -20px 0px;
    font-size: 78px;
    color: #FFFFFF;
}
.enjoy-these {
    font-size: 34px;
    color: #D4D4D4;

}
.exp {
    border: none;
    background:#18CFAB ;
    font-size: 19px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    padding: 11px 7px 11px 7px;
    border-top: 3px solid white;
}
.purch {
    background:  #00CBF6;
    font-size: 19px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    padding: 11px 7px 11px 7px;
    border-top: 3px solid white;
}
.rectangle {
display: flex;
    padding: 6px 0px;
}
.vidg-one {
    display: flex;
    margin: -236px 0px 0px 148px;
}
.vidg-two {
    display: flex;
    margin: -213px 0px 0px 130px;
}
.vidg-three {
    display: flex;
    margin: -236px 0px 0px 130px;
}
.vidg-four {
    display: flex;
    margin: -214px 0px 0px 130px;
}
.peshks {
    margin: 52px 0px 0px 88px;
    color: white;
}
.peshks-one {
    margin: 52px 0px 0px 74px;
    color: white;
}
.serv {
    display: flex;
    justify-content: center;
    margin: 209px 0px 0px 0px;
    font-size: 36px;
}
.super {
    width: 81px;
    margin: 24px 0px -18px 671px;
    border: none;
    color: #18CFAB ;
    background-color: #18CFAB;
    height: 2px;
}
.super-one {
    width: 81px;
    margin: 24px 0px -18px 707px;
    border: none;
    color: #18CFAB ;
    background-color: #18CFAB;
    height: 2px;
}


.tabs-six {
    border: 1px solid;
    border-color: white;
    background-color: white;
    width: 130px;
    height: 65px;
}
.tabs-five {
    border: 1px solid;
    border-color: white;
    background-color: white;
    width: 130px;
    height: 65px;
}
.tabs-five:hover {
    border: 1px solid;
    border-color: #18CFAB ;
    background-color: #18CFAB;
    width: 130px;
    height: 65px;
}
.tabs-four {
    border: 1px solid;
    border-color: white;
    background-color: white;
    width: 130px;
    height: 65px;
}
.tabs-four:hover {
    border: 1px solid;
    border-color: #18CFAB ;
    background-color: #18CFAB;
    width: 130px;
    height: 65px;
}
.tabs-three {
    border: 1px solid;
    border-color: white;
    background-color: white;
    width: 130px;
    height: 65px;
}
.tabs-three:hover {
    border: 1px solid;
    border-color: #18CFAB ;
    background-color: #18CFAB;
    width: 130px;
    height: 65px;
}
.tabs-two {
    border: 1px solid;
    border-color: white;
    background-color: white;
    width: 130px;
    height: 65px;
}
.tabs-two:hover {
    border: 1px solid;
    border-color: #18CFAB ;
    background-color: #18CFAB;
    width: 130px;
    height: 65px;
}
.tabs-six:hover {
    border: 1px solid;
    border-color: #18CFAB ;
    background-color: #18CFAB;
    width: 130px;
    height: 65px;
}
.hernya {
    width: 14%;
    display: block;
    padding: 14px;
    margin: 0px 0px 0px 348px;
}

.every {
    background-image: url("./background/sectiontwo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 5px;
    height: 476px;
}
.tiem {
    background-color: black;
    height: 485px;
    width: 1440px;
    margin: -3px -5px;
    opacity: 0.8;
}
.our-messag {
    color: #18CFAB;
    position: absolute;
    margin: 142px 187px;
    font-size: 40px;
}
.smooth {
     color: white;
     position: absolute;
     margin: 197px 390px;
     font-size: 16px;
 }
.parch {
    background: #18CFAB;
    font-size: 19px;
    line-height: 21px;
    position: absolute;
    padding: 11px 7px 11px 7px;
    border-top: 3px solid white;
    margin: 279px -77px;
}
.doctors {
    display: flex;justify-content: center;
    color: #2d2222;
}
ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}


.tabs-title {
    color: black;
    cursor: pointer;
    width: 167px;
    height: 39px;
    text-align: center;
    padding: 22px 5px 0px 0px;
}
.tabs-title.active {
    background-color: #18CFAB;
    color: white;
}
.web {
    display: block;
    width: 771px;
    margin-left: 97px;
    margin-top: 2px;
}
.web-pict {
    display: block;
    margin-left: -179px;
    margin-top: -79px;
    width: 172px;
}
.graphic {
    display: block;
    width: 771px;
    margin-left: 97px;
    margin-top: 2px;
}
.graphic-pict {
    display: block;
    width: 172px;
    margin-left: -179px;
    margin-top: -43px;
}
.online {
    display: block;
    width: 771px;
    margin-left: 97px;
    margin-top: 2px;
}
.online-pict {
    display: block;
    width: 172px;
    margin-left: -179px;
    margin-top: -79px;

}
.app {
    display: block;
    width: 771px;
    margin-left: 97px;
    margin-top: 2px;

}
.app-pict {
    display: block;
    width: 172px;
    margin-left: -179px;
    margin-top: -61px;
}
.marketing {
    display: block;
    width: 771px;
    margin-left: 97px;
    margin-top: 2px;
}
.marketing-pict {
    display: block;
    width: 172px;
    margin-left: -179px;
    margin-top: -96px;
}
.seo {
    display: block;
    width: 771px;
    margin-left: 97px;
    margin-top: 11px;
}
.seo-pict {
    display: block;
    margin-left: -179px;
    margin-top: -71px;
    width: 172px;
}
.rectangly {
    background-image: url("./background/Rectangle.png");
}
.amazing {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 124px 0px 0px 0px;
}
#tabContic {
    overflow: hidden;
}
.loas {
    background: #18CFAB;
    text-align: center;
    line-height: 45px;
    border: 1px solid #18CFAB;
    margin: 42px 651px;
    justify-content: center;
    padding: 5px 15px 5px 15px;
}
.oparkot{
    background-image: url("./graphic/graphic-design4.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;
}
.oparkot:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkot-two {
    background-image: url("./wordpree/wordpress4.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparkot-two:hover{
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkot-three {
    background-image: url("./wordpree/wordpress5.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparkot-three:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkot-four:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkot-four {
    background-image: url("./wordpree/wordpress7.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparkot:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkot-two {
    background-image: url("./wordpree/wordpress4.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparkot-two:hover{
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkot-three {
    background-image: url("./wordpree/wordpress5.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparkot-three:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkot-four:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkot-four {
    background-image: url("./wordpree/wordpress7.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;
}




.oparkat{
    background-image: url("./ourdesig/graphic-design1.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;
}
.oparkat:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkat-two {
    background-image: url("./ourdesig/graphic-design2.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparkat-two:hover{
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkat-three {
    background-image: url("./ourdesig/graphic-design5.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparkat-three:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkat-four:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparkat-four {
    background-image: url("./ourdesig/graphic-design6.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}












.oparko{
    background-image: url("./webdesight/web-design2.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;
}
.oparko:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparko-two {
    background-image: url("./webdesight/web-design3.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparko-two:hover{
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparko-three {
    background-image: url("./webdesight/web-design4.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparko-three:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparko-four:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparko-four {
    background-image: url("./webdesight/web-design5.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}




.container{overflow:hidden;}
.exponetion{white-space:nowrap}
.exponetion div{display:inline-block;
}
.exponection {
    display: flex;justify-content: center;
}
.exponection-two{white-space:nowrap}
.exponection-two div{display:inline-block;
}
.exponection-two {
    display: flex;justify-content: center;
}
.exponection-two {
    display: flex;
    justify-content: center;
    height: 267px;
}
.oparka{
    background-image: url("./webdesight/web-design1.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;
}
.oparka:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparka-two {
    background-image: url("./webdesight/web-design6.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparka-two:hover{
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparka-three {
    background-image: url("./webdesight/web-design7.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.oparka-three:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparka-four:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.oparka-four {
    background-image: url("./wordpree/wordpress7.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}

li.all {
    white-space: nowrap;
}
li.all div {
    display: inline-block;
}



li.graph {
    white-space: nowrap;
}
li.graph div {
    display: inline-block;
}
li.webdis {
    white-space: nowrap;
}
li.webdis div {
    display: inline-block;
}
li.land {
    white-space: nowrap;
}
li.land div {
    display: inline-block;
}
li.wordpress {
    white-space: nowrap;
}
li.wordpress div {
    display: inline-block;
}
.tab-title:hover {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.tab-title {
    cursor: pointer;
    width: 167px;
    height: 39px;
    text-align: center;
    padding: 22px 5px 0px 0px;
    border: 1px solid #DADADA;
}


.opar{
    background-image: url("./wordpree/wordpress3.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;
}
.opar:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.opar-two {
    background-image: url("./wordpree/wordpress4.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.opar-two:hover{
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.opar-three {
    background-image: url("./wordpree/wordpress5.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
.opar-three:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.opar-four:hover {
    background-image: url("./logo/joj.png");
    border-top: 2px solid #18CFAB;
}
.opar-four {
    background-image: url("./graphic/graphic-design3.jpg");
    height: 211px;
    background-repeat: no-repeat;
    width: 284px;

}
h2.ne {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    padding: 47px 0px;
}
p.sd {
    margin-left: -12px;
    margin-top: 207px;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
}

.exponat-one {
    background-image: url("./exponation/Layer-one.png");
    height: 280px;
    background-repeat: no-repeat;
    width: 263px;
    padding: 4px 16px;
}
.exponat-one:hover{
}

img.gree {
    opacity: 0;
    position: absolute;
    margin: -64px 0px 0px 181px;
}
.exponat-one:hover img.gree {
    opacity: 1;
}

.exponat-two:hover img.gree {
    opacity: 1;
}
.exponat-three:hover img.gree {
    opacity: 1;
}
.exponat-four:hover img.gree {
    opacity: 1;
}
.exponat-five:hover img.gree {
    opacity: 1;
}
.exponat-six:hover img.gree {
    opacity: 1;
}
.exponat-seven:hover img.gree {
    opacity: 1;
}
.exponat-eight:hover img.gree {
    opacity: 1;
}




.exponat-one:hover p.sd{
    color: #3CB878;

}
.exponat-two:hover p.sd{
    color: #3CB878;

}
.exponat-three:hover p.sd{
    color: #3CB878;

}
.exponat-four:hover p.sd{
    color: #3CB878;

}
.exponat-five:hover p.sd{
    color: #3CB878;

}.exponat-six:hover p.sd{
     color: #3CB878;

 }
.exponat-seven:hover p.sd{
    color: #3CB878;

}
.exponat-eight:hover p.sd{
    color: #3CB878;

}




.exponat-two{
    background-image: url("./exponation/Layer-two.png");
    height: 208px;
    background-repeat: no-repeat;
    width: 263px;
    padding: 4px 16px;

}
.exponat-two:hover{

}




.exponat-three{
    background-image: url("./exponation/Layer-three.png");
    height: 208px;
    background-repeat: no-repeat;
    width: 263px;
    padding: 4px 16px;
}
.exponat-three:hover{

}



.exponat-four{
    background-image: url("./exponation/Layer-four.png");
    height: 208px;
    background-repeat: no-repeat;
    width: 263px;
    padding: 4px 16px;
}
.exponat-four:hover{

}



.exponat-five{
    background-image: url("./exponation/Layer-five.png");
    height: 208px;
    width: 263px;
    padding: 4px 16px;
    background-repeat: no-repeat;
}
.exponat-five:hover{

}




.exponat-six{
    background-image: url("./exponation/Layer-six.png");
    height: 208px;
    width: 263px;
    padding: 4px 16px;
    background-repeat: no-repeat;
}
.exponat-six:hover{

}




.exponat-seven{
    background-image: url("./exponation/Layer-seven.png");
    height: 208px;
    padding: 4px 16px;
    width: 263px;
    background-repeat: no-repeat;
}
.exponat-seven:hover{

}




.exponat-eight{
    background-image: url("./exponation/Layer-eight.png");
    height: 208px;
    width: 263px;
    background-repeat: no-repeat;
    padding: 4px 16px;
}
.exponat-eight:hover{

}
p.gf {
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    margin-left: -8px;
    margin-top: -31px;
}



img.date {
    position: absolute;
    margin: -52px 0px 0px 198px;
}
img.green {
    display: block;
    margin: -290px -2px 0px 181px;
}





.slick-slider {
    text-align: -webkit-center;
    display: flex;
    padding: 86px 0px;
}
.slick-next.slick-arrow {
    display: block;
    position: absolute;
    margin: -43px 1px 0px 1125px;
}
.slick-list.draggable {
    width: 492px;
    padding: 0px 0px 5px 0px;
}
.slick-prev.slick-arrow {
    position: absolute;
    margin: 30px 0px 0px 124px;
}
.slick-prev.slick-arrow:hover {
    background: #3CB878;
    color: white;
    position: absolute;
    margin: 30px 0px 0px 124px;
    border: 2px solid #3CB878 ;
}
Style Attribute {
    padding: 0px 0px;
}
.injustice {
    background-image: url(./background/Layerop.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 158px 0px 0px 0px;
    text-shadow: 0 0 black;
}
.thepeople {
    color: white;
}
img.combine {
    margin: -8px 4px 25px 12px;
}

.tesxt-stipid {
    color: white;

}
p.text-under-img {
    display: block;
    padding: 47px 0px;
}
h2.thepeople {
    padding: -7px 0px -5px 3px;
    margin: -78px 0px -1px 7px;
    padding: 105px 0px;
}
.slick-list.draggable {
    width: 959px;
    padding: 0px 0px 5px 0px;
}
.cyrcle-img {width: 143px;
    height: 142px;}
element.style {
    padding: 0px 50px;
    width: 505px !important;
}
.slider-for.slick-initialized.slick-slider {
    padding: 1px;
}
.slider-for.slick-initialized.slick-slider {
    padding: 0px 0px 0px 0px;
}
.cyrcle-img {
    border: 6px solid green;
    border-radius: 80px 80px 80px 80px;
}
.cyrcle-img-small {
    border: 6px solid green;
    border-radius: 80px 80px 80px 80px;

}
.superf {
    width: 81px;
    margin: -50px 0px -101px 671px;
    border: none;
    color: #18CFAB;
    background-color: #18CFAB;
    height: 2px;
    padding: -32px 0px -5px 0px;
}
.superf-one {
    width: 81px;
    margin: 94px 0px 73px 707px;
    border: none;
    color: #18CFAB;
    background-color: #18CFAB;
    height: 2px;
}
.text-under-img {
    color: #18CFAB;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}
p.uptol {
    margin: -56px 0px 23px 0px;
    color: gray;
}
.slick-next.slick-arrow:hover {
    display: block;
    background: #3CB878;
    color: white;
    position: absolute;
    margin: -43px 1px 0px 1125px;
    border: 2px solid #3cb878;
}
.foot {
    width: 1440px;
    margin: 125px -4px 0px 0px;
    height: 82px;
    left: 0px;
    text-align: center;
    top: 0px;
    background: #22353F;
    display: flex;
    justify-content: center;
}
p.noup {
    margin: 31px 0px;
    color: #AEAEAE;
}
p.group {
    color: #18CFAB;
    padding: 16px 4px 0px 5px;
}